# Dependencies
node_modules/

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs & OS
*.log
.DS_Store
Thumbs.db
*.tmp
*.swp

# IDE
.idea/

# Coverage
coverage/

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# Vite
frontend/dist/
